:root {
  --info: #1890ff;
  --success: #52c41a;
  --warning: #faad14;
  --danger: #ff4d4f;
}

body {
  font-family: 'Poppins', 'sans-serif';
}

.dark {
  color-scheme: dark;
}

.overlay-enter-from,
.overlay-leave-to {
  opacity: 0;
}

.overlay-enter-active {
  transition: opacity 300ms ease-out;
}

.overlay-leave-active {
  transition: opacity 200ms ease-in;
}

.content-enter-from,
.content-leave-to {
  @apply opacity-0 translate-y-4 sm:translate-y-0 sm:scale-80;
}

.content-enter-active {
  @apply ease-out duration-300;
}

.content-enter-to,
.content-leave-from {
  @apply opacity-100 translate-y-0 sm:scale-100;
}

.content-leave-active {
  @apply ease-in duration-200;
}