@import "tailwindcss";
@plugin "../../unocss/tailwind-theme.js";

@theme {
  --color-info: var(--color-sky-500);
  --color-success: var(--color-green-500);
  --color-warning: var(--color-yellow-500);
  --color-error: var(--color-red-500);
  --color-primary: var(--primary-400);

  --breakpoint-sm: 32.5rem;
  --breakpoint-lg: 61rem;

  --color-highlight: #6202FF;

  --text-4_5xl: 2.625rem;
  --text-4_5xl--line-height: 1.15;
  --text-5_5xl: 3.375rem;
  --text-5_5xl--line-height: 1;

  --animate-roll-reveal: 0.4s roll-reveal linear(0, .007, .029 2.2%, .118 4.7%, .625 14.4%, .826 19%, .902, .962, 1.008 26.1%, 1.041 28.7%, 1.064 32.1%, 1.07 36%, 1.061 40.5%, 1.015 53.4%, .999 61.6%, .995 71.2%, 1) backwards;

  @keyframes roll-reveal {
    from {
      transform: rotate(12deg) scale(0);
      opacity: 0;
    }

    to {
      transform: rotate(0deg) scale(1);
      opacity: 1;
    }
  }

  --animate-fade-in: 0.4s fade-in ease-out backwards;

  @keyframes fade-in {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  --animate-slide-top:slide-top 0.3s ease-out backwards;

  @keyframes slide-top {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-slide-left: slide-left 0.3s ease-out backwards;

  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

body {
  font-family: 'Poppins', 'sans-serif';
}

.dark {
  color-scheme: dark;
}

button {
  cursor: pointer;
}

/* animate */
.overlay-enter-from,
.overlay-leave-to {
  opacity: 0;
}

.overlay-enter-active {
  transition: opacity 300ms ease-out;
}

.overlay-leave-active {
  transition: opacity 200ms ease-in;
}

.content-enter-from,
.content-leave-to {
  @apply opacity-0 translate-y-4 sm:translate-y-0 sm:scale-80;
}

.content-enter-active {
  @apply ease-out duration-300;
}

.content-enter-to,
.content-leave-from {
  @apply opacity-100 translate-y-0 sm:scale-100;
}

.content-leave-active {
  @apply ease-in duration-200;
}

.inputtext {
  --p-inputtext-color: var(--color-neutral-700);
  --p-inputtext-background: var(--color-white);
  --p-inputtext-placeholder-color: var(--color-neutral-400);
  --p-inputtext-border-color: var(--color-neutral-300);

  --p-inputtext-hover-border-color: var(--primary-600);
  --p-inputtext-focus-border-color: var(--primary-600);
  --p-inputtext-focus-ring-shadow: 0 0 0 0.2rem var(--primary-200);

  --p-inputtext-invalid-border-color: var(--color-red-400);
  --p-inputtext-invalid-placeholder-color: var(--color-red-400);

  --p-inputtext-disabled-color: var(--color-neutral-500);
  --p-inputtext-disabled-background: var(--color-neutral-200);

  font-size: 1rem;
  color: var(--p-inputtext-color);
  background: var(--p-inputtext-background);
  border: 1px solid var(--p-inputtext-border-color);
  transition: background 200ms, color 200ms, border-color 200ms;
  @apply rounded-md py-2 px-2.5 outline-hidden;
}

.dark .inputtext {
  --p-inputtext-color: var(--color-neutral-100);
  --p-inputtext-background: var(--color-neutral-950);
  --p-inputtext-border-color: var(--color-neutral-600);
  --p-inputtext-placeholder-color: var(--color-neutral-400);

  --p-inputtext-hover-border-color: var(--primary-500);
  --p-inputtext-focus-border-color: var(--primary-500);
  --p-inputtext-focus-ring-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--primary-500), transparent 80%);

  --p-inputtext-disabled-color: var(--color-neutral-400);
  --p-inputtext-disabled-background: var(--color-neutral-700);

}

.inputtext:enabled:hover {
  border-color: var(--p-inputtext-hover-border-color);
}

.inputtext:enabled:focus {
  border-color: var(--p-inputtext-focus-border-color);
  box-shadow: var(--p-inputtext-focus-ring-shadow);
}

.inputtext.invalid {
  border-color: var(--p-inputtext-invalid-border-color);
}

.inputtext:disabled {
  opacity: 1;
  background: var(--p-inputtext-disabled-background);
  color: var(--p-inputtext-disabled-color);
}

.inputtext::placeholder {
  color: var(--p-inputtext-placeholder-color);
}

.inputtext.invalid::placeholder {
  color: var(--p-inputtext-invalid-placeholder-color);
}

.btn {
  @apply cursor-pointer inline-flex select-none border border-transparent text-white shadow-sm transition focus:outline-hidden;
  @apply rounded-md bg-neutral-500 p-2 text-sm;
}

.btn:focus-visible {
  @apply focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1;
}


.btn-sm {
  @apply rounded-sm px-3 py-2 text-sm leading-4;
}

.btn-lg {
  @apply rounded-md px-4 py-2 text-base;
}

.btn-xl {
  @apply rounded-md px-6 py-3 text-base;
}

/* btn variants */
.btn-ghost {
  @apply bg-transparent text-neutral-500 shadow-none focus:ring-current;

}

.btn-ghost:not([disabled]):not([aria-disabled="true"]):hover {
  @apply bg-neutral-500/20;
}

.btn-ghost:not([disabled]):not([aria-disabled="true"]):active {
  @apply text-neutral-400 bg-neutral-500/40;
}

.btn-link {
  @apply bg-transparent text-indigo-500 shadow-none hover:underline;
}

.btn-outline,
.btn-toggle {
  @apply border-current bg-transparent text-neutral-400 focus:ring-current;

}

.btn-toggle:not([disabled]):not([aria-disabled="true"]):active {
  @apply border-neutral-500 bg-neutral-500 text-neutral-800;
}

.btn-outline {
  &.btn-primary {
    @apply text-primary;
  }

  &.btn-primary:not([disabled]):not([aria-disabled="true"]):hover {
    @apply border-primary bg-primary text-neutral-800;
  }

  &.btn-primary:not([disabled]):not([aria-disabled="true"]):active {
    @apply border-[--primary-active] bg-[--primary-active] text-neutral-800;
  }

  &.btn-info {
    @apply text-info;
  }

  &.btn-info:not([disabled]):not([aria-disabled="true"]):hover {
    @apply border-info bg-info text-neutral-800;
  }

  &.btn-info:not([disabled]):not([aria-disabled="true"]):active {
    @apply border-[--info-active] bg-[--info-active] text-neutral-800;
  }

  &.btn-success {
    @apply text-success;
  }

  &.btn-success:not([disabled]):not([aria-disabled="true"]):hover {
    @apply border-success bg-success text-neutral-800;
  }

  &.btn-success:not([disabled]):not([aria-disabled="true"]):active:not([disabled]):not([aria-disabled="true"]) {
    @apply border-[--success-active] bg-[--success-active] text-neutral-800;
  }
}

.btn-outline:not([disabled]):not([aria-disabled="true"]):hover {
  @apply border-neutral-400 bg-neutral-400 text-neutral-800;
}